#game-grid {
  display: flex;
  justify-content: center; /* Horizontally center the grid */
  align-items: center; /* Vertically center the grid */
}
table { 
  border-spacing: 2px;
  border-collapse: separate;
  border: 15px outset rgb(240, 174, 20); 
}
.grid-cell {
    width: 100px; 
    height: 100px; 
    /* border: 2px solid white;  */
    box-sizing: border-box;
}
[data-terrain="Grass"] {
    background-color: #8bc34a; 
}
  
[data-terrain="Water"] {
    background-color: #2196f3;
}
  
[data-terrain="Mountain"] {
    background-color: #9e9e9e; 
}
  
[data-terrain="Forest"] {
    background-color: #4caf50;
}
.claimed{
    border: 9px outset rgb(240, 174, 20); 
}
#menu-container{
  position: fixed;
  top: 20px;
  right: 20px;
}
.building-tab{
  display: flex;
  justify-content: center;
  align-items: center;
}
.building-category-tab{
  padding: 10px;
  margin: 5px;
  font-size: 1.3rem;
}
.building-btn{
  padding: 10px;
  margin: 5px;
  font-size: 0.8rem;
}
#advance-turn, .claim-cell-btn{
  margin: 10px;
  padding: 5px;
  font-size: 1.3rem;
}
#advance-turn-container, #unclaimed-cell-menu{
  display: flex;
  justify-content: center;
  align-items: center;
}